<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
